[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hossainemruz/toha.git
[submodule "public"]
	path = public
	url = git@github.com:Cloudac7/cloudac7.github.io.git
	branch = master
